.dashboard{
    font-family: Lato;
    position: absolute;
    width: 70%;
    top: 18%;
    left: 12.5%;
    padding: 0% 2% 1%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.dashboard-header{
    margin: 18px 0 0 18px;
}
.dashboard-heading{
    color: #000000;
    font-size: 24px;
    margin: 0;
}

.dashboard-subhead{
    margin-top:5px;
    font-size: 14px;
    color: #828282;
}

.th{
    border-top: none;
    
}
.dashbord-invalidUser{
    position: absolute;
    top:25%;
    left: 40%;
}

@media only screen and (max-width: 640px){
    .dashboard{
        width: 90%;
        left: 5%;
    }
}
@media only screen and (max-width: 360px){
    .dashboard{
        width: 95%;
        left: 2.5%;
    }
}