.sidebar_wrapper{
    z-index: 99;
    position: fixed;
    width: 158px;
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar_menu{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 8px 0 8px 8px;
    padding:10px;
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
}
.sidebar-active {
    background-color: #f5921e;
    color: white;
}
.sidebar_menu-navlink, .sidebar_menu-navlink:hover{
    text-decoration: none;
    color:inherit
}
.sidebar_menu:hover{
    cursor: pointer;
    background-color: #f5921e;
    color: white;
}
.file_upload {
    width: 99%;
}